<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>espace technicien</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="apparence.css"  />
</head>


<body>

   <div id="header">    
        <div id="title">
            <h1>gestionmateriel</h1>   
        </div>
    </div> 

<h2>Bienvenue dans l'espace technicien:</h2>
   
<table class="table">
         
    <thead>
            <tr>
                <th>sujet</th>
                <!-- <th>date</th> -->
                <th>description</th>
                <th>action</th>
            </tr>
    </thead>
  
    <tbody>
    	{% for ligne in problemes %}
        <tr id="ligne_{{ligne.sujet}}">
        	<td>{{ligne.sujet}}</td> 
            <td>{{ligne.description}}</td>
            <td><button class="btn btn-danger" onclick="#"> Intervenir </button></td>
        </tr>
        {% endfor %}

    </tbody>    

</table>









</body>
</html>
